<div class="body">
    <h1>Desarrolladores</h1>

    <div class="container"> 

        <div class="card">
            <img src="/assets/img/ad.jpg">
            <h4>Adrian Valentin Benavides Ibarra</h4>
            <p>advabenavidesib@ittepic.edu.mx</p>
        </div>

        <div class="card">
            <img src="/assets/img/ed.jpg">
            <h4>Edgar Gerardo Rojas Medina</h4>
            <p>edgerojasme@ittepic.edu.mx</p>
        </div>
        <div class="card">
            <img src="/assets/img/an.png">
            <h4>Ana Bertha Castillo Leal</h4>
            <p>anbecastillole@ittepic.edu.mx</p>
        </div>
        <div class="card">
            <img src="/assets/img/p.jpg">
            <h4>José Ivan Prida Marquez</h4>
            <p>joivpridama@ittepic.edu.mx</p>
        </div>

    </div>
    </div>