<div class="body">
<h1>Hermosos parajes naturales</h1>
<div class="buscar">
    <input type="text" class="buscar_texto" placeholder=Buscar required>    
    <div class= "btn">
        <i class="fas fa-search"></i>
    </div>
</div>
<div class="container"> 
    <div class="card">
        <img src="/assets/img/LagunaSantaMaria.jpg">
        <h4>Laguna de Santa Maria del Oro</h4>
        <p>Te gustaria encontrar un lugar hermoso para acampar?</p>
      <a routerLink ="/laguna-santamaria">¿Cómo llegar?</a>
    </div>
    <div class="card">
        <img src="/assets/img/Cabañas.jpg">
        <h4>Cabañas en la cierra</h4>
        <p>Disfruta de una bella experiencia en las montañas</p>
        <a href="#">¿Cómo llegar? </a>
    </div>
    <div class="card">
        <img src="/assets/img/LagunaDeMora.jpg">
        <h4>Laguna de Mora</h4>
        <p>Disfruta de una relajada tarde en la Laguna de mora</p>
        <a href="#">¿Cómo llegar?</a>
    </div>



    <div class="card">
        <img src="/assets/img/IslasMarietas.jpg">
        <h4>Islas Marietas</h4>
        <p>Pasa un dia de maravilla en las hermosas islas</p>
        <a href="#">¿Cómo llegar?</a>
    </div>
    <div class="card">
        <img src="/assets/img/SantuarioCocodrilos.jpg">
        <h4>Santuario de cocodrilos El Cora</h4>
        <p>Disfruta de una bella experiencia con hermosos ejemplares</p>
        <a href="#">¿Cómo llegar? </a>
    </div>
    <div class="card">
        <img src="/assets/img/PuntaDeMita.jpg">
        <h4>Punta de Mita</h4>
        <p>Disfruta de una maravilla natural en Punta de Mita</p>
        <a href="#">¿Cómo llegar?</a>
    </div>
</div>
</div>