<div class="body">
    <h1>DESCUBRE NAYARIT</h1>
    <div class="buscar">
        <input type="text" class="buscar_texto" placeholder=Buscar required>    
        <div class= "btn">
            <i class="fas fa-search"></i>
        </div>
    </div>
    <div class="container">
       
        <div class="card">
            <img src="/assets/img/Naturaleza.jpg">
            <h4>Naturaleza</h4>
            <p>Te gustaria encontrar un lugar hermoso para acampar?</p>
            <a routerLink ="/naturaleza">Explorar</a>
        </div>
        
        <div class="card">
            <img src="/assets/img/Comida.jpg">
            <h4>Comida</h4>
            <p>Disfruta de los mejores mariscos del mundo</p>
            <a href="#">Explorar </a>
        </div>
        
        <div class="card">
            <img src="/assets/img/Pueblitos.jpg">
            <h4>Pueblitos</h4>
            <p>Disfruta de hermosas visitas a pueblitos de la región</p>
            <a href="#">Explorar</a>
        </div>
    </div>
</div>
 