
<div class="body">
    <h1>Galeria</h1>
    <div class="container"> 
        <div class="card">
            <img src="/assets/img/LagunaSantaMaria.jpg">
            <p>Album 1</p>
            <a routerLink ="/album1">Explorar</a>
        </div>
        <div class="card">
            <img src="/assets/img/Cabañas.jpg">
            <p>Album 2</p>
            <a routerLink ="/album1">Explorar</a>
        </div>
        <div class="card">
            <img src="/assets/img/LagunaDeMora.jpg">
            <p>Album 3</p>
            <a routerLink ="/album1">Explorar</a>
        </div>

        <div class="card">
            <img src="/assets/img/IslasMarietas.jpg">
            <p>Album 4</p>
            <a routerLink ="/album1">Explorar</a>
        </div>
        <div class="card">
            <img src="/assets/img/SantuarioCocodrilos.jpg">
            <p>Album 5</p>
            <a routerLink ="/album1">Explorar</a>
        </div>
        <div class="card">
            <img src="/assets/img/PuntaDeMita.jpg">
            <p>Album 6</p>
            <a routerLink ="/album1">Explorar</a>
        </div>
    </div>
    </div>