
    <header class="main-header">
        <nav class= "main-nav">
            <div class= "logo">
                <span></span>
            </div>
            <ul>
                <li><a href="##">Inicio</a></li>
                <li><a routerLink ="/destinos">Destinos</a></li>
                <li><a href="##">Blogs</a></li>
                <li><a href="##">Contacto</a></li>
            </ul>
        </nav>
        <div class="content-header">
            <h1>DESCUBRE NAYARIT</h1>
            <p>Descubre asombrosos destinos turísticos en Nayarit</p>
            <a href="##">Reserva aquí</a>
        </div>

    </header>

 