
    <header class="main-header">
        <nav class= "main-nav">
            <div class= "logo">
                <span></span>
            </div>
            <ul>
                <li><a href="##">Inicio</a></li>
                <li><a routerLink ="/lugar">Lugares</a></li>
                <li><a routerLink ="/Blog">Blogs</a></li>
                <li><a routerLink="/login">Login</a></li>
                <li><a routerLink="/contacto">Contacto</a></li>
            </ul>
        </nav>
        <div class="content-header">
            <h1>DESCUBRE NAYARIT</h1>
            <p>Descubre asombrosos destinos turísticos en Nayarit</p>
         
        </div>

    </header>

 