
.body{
    background-color: #A7D2CB;
    text-align: left;
}
.iframe{
border-radius: 10%;
position: relative;
left: 70%;
}
.form{
height: 600px;
width: 200px;
border-color: #A7D2CB;
position: relative;
bottom:600px;
left:2%;
}
h1{
    position: relative;
    bottom:600px;
    left:2%;
}
.table{
    width: 30%;
    position: relative;
    bottom: 1200px;;
    left:35%;  
    background-color:#F2D388 ;
}
   /*#A7D2CB AZULITO*/
   /*#F2D388 AMARILLO*/
   /*#C98474 SALMON*/
   /*#874C62 MORADO*/