@font-face{
    font-family: GothamRoundedMedium_21022;
    src:url(/descubre-nayarit/src/GothamRoundedMedium_21022.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.barraSup{
    background-color: #790726;
    height: 125px
}
.barraInf{
    background-color: #790726;
    height: 125px
}

.logo{
    height: 124px;
    width: 300px;
    position: absolute;
    left:9.6%;
    
}
.escudo{
    height: 124px;
    width: 280px;
    position: absolute;
    left:70%;
}
.titulo{
    font-size: 60px;
        }

h1{

    display:inline-block;
    position: absolute;
    left:45%; 
    COLOR: #ffff;
    
    font-family:'GothamRoundedMedium_21022';

}
.vidio{
    position: relative;
    margin-top: -23.5%;
    margin-left: 3%;
    height:380px;
    width:340px;
}
  /*para el slider inicio*/

.slider{
    height: 10px;
}
.carousel-item{
    width: 300px;
    height: 350px;
    -webkit-background-size:cover;
    -moz-background-size: cover;
    -o-background-size:cover;
    background-size: 50%;
  }
  

  @media (max-width: 600px) {
    .carousel-item {
      height: 280px;
    }
  }
  /*para el slider fin*/

  .contenedorSlider{
    width: 78.5%;
    height: 350px;
    margin-left: 10.8%;
  }


.navegacion{
    background-color: #790726;
    color:white;
    font-family:'GothamRoundedMedium_21022';
}
.gallery-container{
    position: relative;
    width: 80%;
    margin:auto;

    display: grid;
    grid-template-columns: repeat(3, 33.33%);
    grid-template-rows: repeat(2,300px);
}

.gallery-container .gallery-card{overflow:hidden};

.gallery-container .gallery-card a{
    width: 100%;
    height:100%;
}
.gallery-container .gallery-card a > img{
    width: 95%;
    height:95%;
    margin: 10px;
    object-fit: cover;
    transition: 0.5s;
}
.gallery-container .gallery-card a > img:hover{
    transform: scale(1.2) 
    rotate(10deg);
 }


 
@media screen and (max-width:1024px){
 
        .logo{
            height:68px;
            width: 150px;
            padding-top: 10px;
    
        }
        .escudo{
            height: 62px;
            width: 140px;
            padding-top: 10px;
        }
        .titulo{font-size: 30px;
        
        }   
        .barraSup{
            height: 60px;
        }
        .barraInf{
            height: 100px;
        }

    }

    .main-nav{
        display: flex;
        background: linear-gradient(rgba(167, 210, 203, 0.6), rgba(167, 210, 203, 0.6));
    } 

    ul{
 
    display: flex;
   
    
}

ul li a {
 
   display: inline-block;
   padding: 20px 40px;
   font-size: 1.3rem;
   color:white;
}

ul li a:hover{
    background: #A7D2CB;
}

ol, ul {
	list-style: none;
}
 
a {
text-decoration: none;
}